html, body {
    margin: 0;
    font-size: 100%;
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

/* ausopen blue: #0091d2 */


header {
    background-color: #eee;
    padding: 5px;
}

header div:first-child {
    float: left;
}

header div+div {
    float: right;
}

header img {
    width: 50px;
    height: auto;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

footer {
    background-color: #006a9a;
    color: #fff;
    text-align: center;
}


h1 {
    color: #0091d2;
}



a.call_to_action {
    border: none;
    background-color: #0091d2;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
}

a.call_to_action:hover {
    background-color: #f7981d;
}

.account_yet {
    margin-top: 10px;
}


.winners {
    margin-top: 25px;
    /*background-color: #9dd4c1;*/
}

.winners div div {
    width: 30%;
    height: auto;
    margin-right: 5%;
    float: left;
}

.winners div div:nth-child(3n+3) {
    margin-right: 0;
}

.winners div div img {
    width: 100%;
    height: auto;
    -webkit-clip-path: circle(45% at 50% 50%);
    clip-path: circle(45% at 50% 50%);
}

.winners .winner_caption {
    width: 100%;
}

.rules {
    margin-top: 25px;
}

.rules strong {
    color: #f7981d;
}

.rules .question {
    font-weight: bold;
}


/* logged in */

.navbar-brand img {
    width: 50px;
    height: auto;
}

/* quiz */

.question img {
    width: 100%;
    height: auto;
}

/*
.question .answers input {
    display: none;
}

.question .answers label {
    width: 100%;
    background-color: #eee;
    padding: 5px 10px;
    cursor: pointer;
}

.question .answers input[type="radio"]:checked+label {
    background-color: #0091d2;
    color: #fff;
}
*/

.question .answers button {
    width: 100%;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.question .answers button:hover {
    background-color: #0091d2;
    color: #fff;
}







/* CLEARFIX */

header::before, header::after,
.winners div::before, .winners div::after {
    content: "";
    line-height: 0;
    display: table;
}

header::after,
.winners div::after {
    clear: both;
}



/* oorspronkelijke styling */
/*
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}*/